@font-face {
  font-family: ED;
  src: url(ed.woff2);
}
.xdebug-var-dump {
  background: #fff;
  padding: 8px;
}
body {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: "ED";
  font-size: 11pt;
  background: #000;
}
body input {
  outline: 0px;
}
body .spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(imgs/32.svg);
  background-size: cover;
}
body .col-DATE {
  display: none;
}
body .col-FILE {
  display: none;
}
body .icon-grid {
  background: url(imgs/grid.png);
  display: inline-block;
  width: 100%;
  height: 24px;
  background-size: contain;
  filter: invert(100%);
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
body .icon-grid:hover {
  filter: invert(0%);
}
body #float {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  left: 0px;
  min-height: 290px;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #f80;
}
body #float div.box {
  padding: 32px;
}
body #float div.box h3 {
  color: #ff0000;
}
body #float div.box div.data {
  color: #00bcd4;
}
body #head {
  background: rgba(255, 136, 0, 0.14);
  color: #f80;
  border-bottom: 1px solid rgba(255, 136, 0, 0.09);
  border-right: 1px solid rgba(255, 136, 0, 0.09);
  margin-bottom: 16px;
}
body #head div#ed {
  color: #000;
  background: #f80;
  display: inline-block;
  width: 33px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}
body #head div#now {
  text-align: right;
  line-height: 32px;
  padding-right: 8px;
  letter-spacing: 0.4px;
  font-family: monospace;
  float: right;
}
body #cover {
  margin-left: 16px;
  margin-right: 16px;
  color: #f80;
  font-size: 1.2em;
}
body #cover div.head div.deltas {
  display: grid;
  grid-template-columns: 108px 108px 108px;
  grid-template-rows: 16px 15px;
  justify-content: start;
  font-size: 0.7em;
  color: #00BCD4;
  font-weight: bold;
  letter-spacing: 0.6px;
  box-sizing: content-box;
  position: relative;
  left: 59px;
  border-left: 1px dotted;
  margin-bottom: 16px;
}
body #cover div.head div.deltas div.deltaName {
  color: #00BCD4;
  text-transform: uppercase;
  font-weight: 200;
}
body #cover div.head div.deltas div.deltaCr {
  color: #ff0;
}
body #cover div.head div {
  margin-bottom: 8px;
  padding-left: 4px;
}
body #cover div.head div span.lab {
  color: #ff0000;
  text-transform: uppercase;
  font-size: 0.8em;
}
body #cover div.head div span.data {
  color: #fff;
}
body #cover div.head div span.data span.type {
  color: #f40;
  font-size: 0.7em;
  text-transform: lowercase;
  font-weight: bold;
  position: relative;
  top: -4px;
}
body #cover div.head div span.footer {
  font-size: 0.7em;
  display: block;
  color: #00BCD4;
  letter-spacing: 0.6px;
  font-weight: bold;
  position: relative;
  left: 60px;
}
body #cover div.head div.cmdr {
  font-size: 1.4em;
  text-transform: capitalize;
  border-bottom: 1px dotted #f80;
  background: rgba(255, 0, 0, 0.14);
  letter-spacing: 0.5px;
  word-spacing: 0.5px;
}
body #cover div.head div.port,
body #cover div.head div.position {
  font-size: 0.8em;
  color: #f80;
  line-height: 18px;
  margin-top: 32px;
}
body #cover div.head div.port span,
body #cover div.head div.position span {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  word-spacing: 0.5px;
}
body #cover div.head div.hide {
  display: none;
}
body #cover #missions {
  display: grid;
  grid-template-columns: fr1 fr1 fr2;
  grid-template-rows: auto;
  grid-template-areas: "head1 head1 head2" "box1 box1 box2";
}
body #cover #missions .ms-h1 {
  grid-area: head1;
}
body #cover #missions .ms-h2 {
  grid-area: head2;
}
body #cover #missions .ms-bx1 {
  padding-right: 8px;
  grid-area: box1;
  /*
				div.msn {
					border-left: 2px #d80 solid;
					background: #f00 - 128;
					padding: 4px;
					margin-bottom: 8px;
					letter-spacing: 1px;
					div.head {
						position: relative;
						left: -4px;
						top: -4px;
						span.status {
							background: #f80;
							text-transform: uppercase;
							color: #000;
							display: inline-block;
							font-weight: bolder;
							width: 116px;
							text-align: center;
							padding-top: 4px;
							letter-spacing: 1px;
						}
						span.time {
							color: #fff;
							padding-left: 16px;
						}
					}
					div.to,
					div.for,
					div.reward,
					div.cargo,
					div.rep-inf {
						font-size: 0.8em;
						text-transform: uppercase;
						span {
							color: #fff;
							font-size: 1.2em;
						}
					}
					div.type {
						font-size: 1.2em;
						text-transform: uppercase;
						margin-bottom: 8px;
						span {
							color: #fff;
							font-size: 1.2em;
						}
					}
					div.reward {
						border-top: 1px solid #800;
						text-align: right;
					}
					div.cargo {
						margin-bottom: 8px;
					}
				}
				*/
}
body #cover #missions .ms-bx1 table.toolbar {
  text-align: right;
  background: #3f0000;
  border-bottom: 4px solid #000;
}
body #cover #missions .ms-bx1 table.toolbar td {
  display: inline-block;
  text-align: center;
  padding: 5px 16px 5px 16px;
  box-sizing: border-box;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  cursor: pointer;
}
body #cover #missions .ms-bx1 table.toolbar td:hover {
  background: #df6800;
  color: #000;
}
body #cover #missions .ms-bx1 table.toolbar td.on {
  background: #f80;
  color: #000;
}
body #cover #missions .ms-bx1 div.summary ul {
  text-transform: uppercase;
  list-style: none;
  margin: 0px;
  margin-top: 16px;
  padding: 0px;
  margin-bottom: 16px;
}
body #cover #missions .ms-bx1 div.summary ul li.head {
  border-bottom: 1px #a40 dotted;
  margin-bottom: 4px;
}
body #cover #missions .ms-bx1 div.summary ul ul {
  text-transform: capitalize;
}
body #cover #missions .ms-bx1 div.summary ul ul li.item {
  border: none;
  display: inline-block;
  background: #241300;
  font-size: 0.8em;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  margin-bottom: 4px;
  text-shadow: 0px -1px 1px #000;
  cursor: pointer;
}
body #cover #missions .ms-bx1 div.summary ul ul li.item span {
  color: #a40;
}
body #cover #missions .ms-bx1 div.summary ul ul li.item span.system {
  color: #fff;
  text-transform: uppercase;
  padding-left: 4px;
  font-size: 0.8em;
  letter-spacing: 1px;
}
body #cover #missions .ms-bx1 div.summary ul ul li.item:hover {
  color: #fff;
  background: #342310;
}
body #cover #missions .ms-bx1 div.summary ul ul li.item:hover span.system {
  color: #f80;
}
body #cover #missions .ms-bx1 div.summary div.help {
  color: #fff;
  font-size: 0.7em;
  margin-top: 4px;
}
body #cover #missions .ms-bx1 div.msn.completed div.msn {
  background: #330000;
}
body #cover #missions .ms-bx1 div.msn.active div.msn {
  background: #710000;
}
body #cover #missions .ms-bx1 div.msn {
  padding: 8px;
  margin-bottom: 8px;
}
body #cover #missions .ms-bx1 div.msn div.mis-head h2 {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
}
body #cover #missions .ms-bx1 div.msn div.mis-head div.expiry {
  color: #fff;
  float: right;
  background: #520000;
  padding: 2px 6px 2px 6px;
  position: relative;
  top: -8px;
  right: -8px;
}
body #cover #missions .ms-bx1 div.msn div.clear {
  clear: both;
  border-top: 1px solid #ff0;
  height: 16px;
}
body #cover #missions .ms-bx1 div.msn div.body div.ms-prop {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  color: #ff0;
  font-size: 0.8em;
  text-transform: uppercase;
}
body #cover #missions .ms-bx1 div.msn div.body div.ms-prop span {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.4em;
}
body #cover #missions .ms-bx2 {
  grid-area: box2;
}
body #cover #missions .ms-bx2 span {
  color: #fff;
}
body #listev {
  padding-left: 16px;
  padding-right: 16px;
  color: #d80;
  margin-bottom: 16px;
}
body #listev div.finder {
  text-transform: uppercase;
}
body #listev div.finder input {
  border: 2px #401c04 solid;
  background: #241300;
  padding: 4px;
  text-align: center;
  margin-bottom: 8px;
  border-radius: 8px;
  margin-left: 8px;
  color: #ff0;
}
body #listev h2 {
  font-size: 1.2em;
  border-bottom: 1px #f80 dotted;
  font-weight: bold;
}
body #listev div#counter {
  display: none;
  margin-bottom: 16px;
  text-transform: uppercase;
}
body #listev div#counter .spinner {
  position: relative;
  top: 4px;
}
body #listev div#counter .count {
  background: #241300;
  display: inline-block;
  padding: 4px 8px 4px 8px;
  font-size: 0.8em;
  font-weight: bold;
  color: #f80;
  border-radius: 4px;
  position: relative;
  top: -2px;
  left: 2px;
}
body #listev div#counter .file {
  font-size: 0.9em;
  letter-spacing: 1px;
  color: #f40;
}
body #listev ul {
  padding: 0px;
  margin: 0px;
}
body #listev ul li {
  font-size: 0.8em;
  list-style: none;
  display: inline-block;
  line-height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  background: rgba(255, 136, 0, 0.14);
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}
body #listev ul li span {
  color: #58390d;
  text-shadow: -1px 1px 0px #000;
}
body #listev ul li.on {
  background: #ff8800;
  color: #000;
}
body #listev ul li:hover {
  background: rgba(255, 136, 0, 0.7);
  color: #000;
}
body #listev ul li:hover span {
  color: #000;
  text-shadow: inherit;
}
body #listev ul li.green {
  background: #00ff00;
  color: #000;
}
body #listev ul li.found {
  color: #fff;
  background: #6b0000;
}
body #listev ul li.found span {
  color: #f80;
}
body #dspLst {
  overflow-x: auto;
  color: #fff;
  padding: 16px;
  font-size: 0.8em;
}
body #dspLst div.s404 {
  text-transform: uppercase;
  font-size: 2em;
  color: #f80;
}
body #dspLst div.s404 span {
  color: #fff;
}
body #dspLst table {
  width: 100%;
  border-collapse: collapse;
}
body #dspLst table thead,
body #dspLst table tfoot {
  background: #f80;
}
body #dspLst table thead tr td,
body #dspLst table tfoot tr td {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 8px 5px 8px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.2em;
}
body #dspLst table tbody tr {
  color: #f40;
  background: #241300;
}
body #dspLst table tbody tr td.col_timestamp {
  width: 150px;
  text-align: center;
  line-height: 16px;
}
body #dspLst table tbody tr td {
  padding: 5px 6px 4px 6px;
}
body #dspLst table tbody tr td.full {
  border: 0.5px solid #401c04;
}
body #dspLst table tbody tr td.full:hover {
  background: #750a0a;
}
body #dspLst table tbody tr td.empty {
  background: #000;
}
body #dspLst table tbody tr td.human-date {
  letter-spacing: 1px;
  font-weight: bold;
}
body #dspLst table tbody tr.even {
  background: #1c0b00;
}
body #dspLst table tbody tr:hover {
  color: #fff;
  background: #2c1b08;
}
body #dspLst table tfoot tr {
  border-top: #f80 solid 2px;
}
body #dspLst textarea {
  color: #000;
}
body #dspLst h2 {
  color: #f80;
  border-bottom: 1px dotted #f80;
}
body #dspLst div.dataTables_wrapper div.dataTables_length {
  padding: 8px;
  color: #f80;
}
body #dspLst div.dataTables_wrapper div.dataTables_length select {
  outline: 0px;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  width: 64px;
  color: #ff0;
  border-radius: 4px;
  border: 2px #401c04 solid;
  background: #241300;
}
body #dspLst div.dataTables_wrapper div.dataTables_filter {
  color: #f80;
  padding: 8px;
}
body #dspLst div.dataTables_wrapper div.dataTables_filter input {
  outline: 0px;
  padding: 4px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #ff0;
  border-radius: 4px;
  border: 2px #401c04 solid;
  background: #241300;
}
body #dspLst div.dataTables_wrapper table.dataTable {
  background: #f80;
}
body #dspLst div.dataTables_wrapper table.dataTable thead,
body #dspLst div.dataTables_wrapper table.dataTable tfoot {
  text-transform: uppercase;
  font-size: 1.2em;
  background: #f80;
  color: #000;
}
body #dspLst div.dataTables_wrapper table.dataTable thead tr th,
body #dspLst div.dataTables_wrapper table.dataTable tfoot tr th {
  background: #ef7800;
}
body #dspLst div.dataTables_wrapper table.dataTable thead tr th.thOdd,
body #dspLst div.dataTables_wrapper table.dataTable tfoot tr th.thOdd {
  background: #f80;
}
body #dspLst div.dataTables_wrapper table.dataTable thead tr th.sorting,
body #dspLst div.dataTables_wrapper table.dataTable tfoot tr th.sorting {
  background: url(imgs/sort_both_op.png);
  background-repeat: no-repeat;
  background-position: right;
}
body #dspLst div.dataTables_wrapper table.dataTable thead tr th.sorting_asc,
body #dspLst div.dataTables_wrapper table.dataTable tfoot tr th.sorting_asc {
  background: url(imgs/sort_both_asc.png);
  background-repeat: no-repeat;
  background-position: right;
}
body #dspLst div.dataTables_wrapper table.dataTable thead tr th.sorting_desc,
body #dspLst div.dataTables_wrapper table.dataTable tfoot tr th.sorting_desc {
  background: url(imgs/sort_both_desc.png);
  background-repeat: no-repeat;
  background-position: right;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody {
  color: #f80;
  background: #000;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr.even {
  color: #f80;
  background: #000;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr.even td.sorting_1 {
  background: #200;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr.odd {
  color: #f80;
  background: #200;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr.odd td.sorting_1 {
  background: #400;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr td {
  border-top: #600 solid 1px;
  border-left: #600 solid 0.5px;
  border-right: #600 solid 0.5px;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr td span.icon {
  background: url(imgs/grid.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: block;
  filter: invert(100%);
  cursor: pointer;
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr td span.icon:hover {
  filter: invert(0%);
}
body #dspLst div.dataTables_wrapper table.dataTable tbody tr td.humanDate {
  color: #fff;
}
body #dspLst div.dataTables_wrapper div.dataTables_info {
  color: #00BCD4;
  font-size: 1.2em;
}
body #dspLst div.dataTables_wrapper div.dataTables_paginate {
  margin-top: 16px;
}
body #dspLst div.dataTables_wrapper div.dataTables_paginate a.paginate_button {
  color: #f00 !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  background: #200;
}
body #dspLst div.dataTables_wrapper div.dataTables_paginate a.paginate_button.disabled {
  opacity: 0.4;
}
body #dspLst div.dataTables_wrapper div.dataTables_paginate a.paginate_button.current {
  color: #f80 !important;
  border: 1px solid #800;
  background: #600;
}
body #dspLst div.dataTables_wrapper div.dataTables_paginate .ellipsis {
  color: #f00;
}
